Repository withakay/spool: changes, and which pre-commit hooks are due for each by the changed paths.
All: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test

.pre-commit-config.yaml:

default_language_version:
  python: python3

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-toml
      - id: check-yaml
      - id: check-json
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args: [--fix=lf]
      - id: trailing-whitespace
      - id: pretty-format-json
        args: [--autofix, --indent=2, --no-sort-keys]

  - repo: https://github.com/adrienverge/yamllint
    rev: v1.35.1
    hooks:
      - id: yamllint
        args: [-d, relaxed]

  - repo: local
    hooks:
      - id: markdownlint-cli2
        name: markdownlint-cli2
        entry: markdownlint-cli2
        language: node
        additional_dependencies: [markdownlint-cli2@0.20.0]
        args: [--config, .markdownlint-cli2.yaml]
        files: \.md$
        exclude: ^\.spool/

      - id: cargo-fmt
        name: cargo fmt (spool-rs)
        entry: cargo
        language: system
        args: [fmt, --manifest-path, spool-rs/Cargo.toml, --all]
        pass_filenames: false
        files: ^spool-rs/.*\.(rs|toml)$

      - id: cargo-clippy
        name: cargo clippy (spool-rs)
        entry: cargo
        language: system
        args:
          - clippy
          - --manifest-path
          - spool-rs/Cargo.toml
          - --workspace
          - --all-targets
          - --
          - -D
          - warnings
          - -D
          - clippy::dbg_macro
          - -D
          - clippy::todo
          - -D
          - clippy::unimplemented
        pass_filenames: false
        files: ^spool-rs/.*\.(rs|toml)$

      - id: cargo-test-coverage
        name: cargo test with coverage (spool-rs)
        entry: make
        language: system
        args: [test-coverage]
        pass_filenames: false
        files: ^spool-rs/.*\.(rs|toml)$
        stages: [pre-commit, pre-push]

      - id: cargo-test
        name: cargo test (spool-rs)
        entry: make
        language: system
        args: [test]
        pass_filenames: false
        files: ^spool-rs/.*\.(rs|toml)$
        stages: [pre-push]

chore(spool): update project configuration and planning documents
  .gitignore
  .spool/modules/005_dev-tooling/module.md
  .spool/modules/013_spool-skills-adoption/module.md
  .spool/planning/STATE.md
  .spool/project.md
  .spool/workflows/.state/change-allocations.json
  AGENTS.md
Due: markdownlint-cli2

feat(.claude): add spool command documentation
  .claude/commands/spool-apply.md
  .claude/commands/spool-archive.md
  .claude/commands/spool-proposal.md
  .claude/commands/spool-research.md
  .claude/commands/spool-review.md
  .claude/commands/spool.md
Due: markdownlint-cli2

chore(.spool): add optimize-unit-test-speed change proposal
  .spool/changes/003-03_optimize-unit-test-speed/.spool.yaml
  .spool/changes/003-03_optimize-unit-test-speed/design.md
  .spool/changes/003-03_optimize-unit-test-speed/proposal.md
  .spool/changes/003-03_optimize-unit-test-speed/specs/harness-timeout-fix/spec.md
  .spool/changes/003-03_optimize-unit-test-speed/tasks.md
Due: none

chore(.spool): add homebrew-release change proposal
  .spool/changes/005-09_homebrew-release/.spool.yaml
  .spool/changes/005-09_homebrew-release/design.md
  .spool/changes/005-09_homebrew-release/proposal.md
  .spool/changes/005-09_homebrew-release/specs/homebrew-formula/spec.md
  .spool/changes/005-09_homebrew-release/tasks.md
Due: none

chore(.spool): add integrate-bacon-workflow change proposal
  .spool/changes/005-10_integrate-bacon-workflow/.spool.yaml
  .spool/changes/005-10_integrate-bacon-workflow/design.md
  .spool/changes/005-10_integrate-bacon-workflow/proposal.md
  .spool/changes/005-10_integrate-bacon-workflow/specs/bacon-config/spec.md
  .spool/changes/005-10_integrate-bacon-workflow/tasks.md
Due: none

chore(.spool): add archived consolidate-embedded-assets change
  .spool/changes/archive/2026-02-01-013-19_consolidate-embedded-assets/.spool.yaml
  .spool/changes/archive/2026-02-01-013-19_consolidate-embedded-assets/proposal.md
  .spool/changes/archive/2026-02-01-013-19_consolidate-embedded-assets/specs/spool-init/spec.md
  .spool/changes/archive/2026-02-01-013-19_consolidate-embedded-assets/tasks.md
Due: none

chore(.spool): add research and review command extensions
  .spool/commands/research-architecture.md
  .spool/commands/research-features.md
  .spool/commands/research-pitfalls.md
  .spool/commands/research-stack.md
  .spool/commands/research-synthesize.md
  .spool/commands/review-edge.md
  .spool/commands/review-scale.md
  .spool/commands/review-security.md
Due: none

chore(.spool): add spool-init specification
  .spool/specs/spool-init/spec.md
Due: none

docs: add agent architecture proposal
  docs/brainstorming/agent-architecture-proposal.md
Due: markdownlint-cli2

build: add prek linting and max-lines checking to build system
  .pre-commit-config.yaml
  Makefile
  spool-rs/Cargo.lock
Due: none

docs: update development commands to use make check
  AGENTS.md
Due: markdownlint-cli2

build: add RUST_WARNINGS_AS_ERRORS flag to make targets
  .spool/user-guidance.md
  Makefile
  spool-rs/crates/spool-cli/src/app/common.rs
  spool-rs/crates/spool-core/src/distribution.rs
  spool-rs/crates/spool-core/src/ralph/duration.rs
  spool-rs/crates/spool-core/tests/distribution.rs
  spool-rs/crates/spool-harness/src/opencode.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test

fix: snapshots
  spool-rs/Cargo.lock
  spool-rs/Cargo.toml
  spool-rs/crates/spool-cli/tests/cli_snapshots.rs
  spool-rs/crates/spool-cli/tests/snapshots/cli_snapshots__spool_help_all.snap
  spool-rs/crates/spool-cli/tests/snapshots/cli_snapshots__spool_help_subcommand_all.snap
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test

feat(ci): add Homebrew tap and auto-update workflow
  .github/workflows/update-homebrew.yml
  .spool/changes/005-09_homebrew-release/proposal.md
  .spool/changes/005-09_homebrew-release/tasks.md
  README.md
Due: markdownlint-cli2

fix(ci): handle first release in homebrew update workflow
  .github/workflows/update-homebrew.yml
Due: none

refactor(cli): migrate list command to use ChangeRepository and ModuleRepository
  spool-rs/crates/spool-cli/src/app/list.rs
  spool-rs/crates/spool-core/src/list.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test

feat(spool-workflow): add ChangeRepository and ModuleRepository patterns
  spool-rs/Cargo.lock
  spool-rs/Cargo.toml
  spool-rs/crates/spool-workflow/Cargo.toml
  spool-rs/crates/spool-workflow/src/changes/mod.rs
  spool-rs/crates/spool-workflow/src/changes/repository.rs
  spool-rs/crates/spool-workflow/src/lib.rs
  spool-rs/crates/spool-workflow/src/modules/mod.rs
  spool-rs/crates/spool-workflow/src/modules/repository.rs
  spool-rs/crates/spool-workflow/src/tasks/mod.rs
  spool-rs/crates/spool-workflow/src/tasks/parse.rs
  spool-rs/crates/spool-workflow/src/tasks/repository.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test

chore(.spool): update workflow state and module allocations
  .spool/modules/001_workflow-enhancements/module.md
  .spool/modules/005_dev-tooling/module.md
  .spool/workflows/.state/change-allocations.json
Due: none

add change proposals
  .spool/changes/001-13_integrate-release-please-via-github-actions/.spool.yaml
  .spool/changes/001-13_integrate-release-please-via-github-actions/design.md
  .spool/changes/001-13_integrate-release-please-via-github-actions/proposal.md
  .spool/changes/001-13_integrate-release-please-via-github-actions/specs/release-please-releases/spec.md
  .spool/changes/001-13_integrate-release-please-via-github-actions/tasks.md
  .spool/changes/005-11_task-repository-pattern/.spool.yaml
  .spool/changes/005-11_task-repository-pattern/design.md
  .spool/changes/005-11_task-repository-pattern/proposal.md
  .spool/changes/005-11_task-repository-pattern/specs/task-repository/spec.md
  .spool/changes/005-11_task-repository-pattern/tasks.md
  .spool/changes/005-12_change-module-repositories/.spool.yaml
  .spool/changes/005-12_change-module-repositories/design.md
  .spool/changes/005-12_change-module-repositories/proposal.md
  .spool/changes/005-12_change-module-repositories/specs/change-repository/spec.md
  .spool/changes/005-12_change-module-repositories/specs/module-repository/spec.md
  .spool/changes/005-12_change-module-repositories/tasks.md
Due: none

feat(ci): integrate release-please for automated releases
  .github/workflows/polish-release-notes.yml
  .github/workflows/release-please.yml
  .release-please-manifest.json
  .spool/changes/001-13_integrate-release-please-via-github-actions/tasks.md
  docs/RELEASING.md
  release-please-config.json
  spool-rs/crates/spool-harness/tests/opencode.rs
Due: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test

fix(ci): fix release.yml workflow syntax errors
  .github/workflows/release.yml
Due: none

fix(ci): skip PTY-based interactive tests on Windows
  spool-rs/crates/spool-cli/tests/init_more.rs
  spool-rs/crates/spool-test-support/src/pty/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test

chore(.spool): archive completed changes
  .spool/changes/archive/2026-02-02-005-07_split-spool-cli-app-rs/.spool.yaml
  .spool/changes/archive/2026-02-02-005-07_split-spool-cli-app-rs/design.md
  .spool/changes/archive/2026-02-02-005-07_split-spool-cli-app-rs/proposal.md
  .spool/changes/archive/2026-02-02-005-07_split-spool-cli-app-rs/specs/repo-precommit-quality-gates/spec.md
  .spool/changes/archive/2026-02-02-005-07_split-spool-cli-app-rs/tasks.md
  .spool/changes/archive/2026-02-02-005-11_task-repository-pattern/.spool.yaml
  .spool/changes/archive/2026-02-02-005-11_task-repository-pattern/design.md
  .spool/changes/archive/2026-02-02-005-11_task-repository-pattern/proposal.md
  .spool/changes/archive/2026-02-02-005-11_task-repository-pattern/specs/task-repository/spec.md
  .spool/changes/archive/2026-02-02-005-11_task-repository-pattern/tasks.md
  .spool/modules/005_dev-tooling/module.md
  .spool/specs/repo-precommit-quality-gates/spec.md
  .spool/specs/spool-init/spec.md
  .spool/specs/task-repository/spec.md
Due: none

docs: update AGENTS.md and complete change tasks
  .spool/changes/005-12_change-module-repositories/tasks.md
  AGENTS.md
Due: markdownlint-cli2

refactor(spool-workflow): remove deprecated crate in favor of spool-domain
  spool-rs/Cargo.lock
  spool-rs/crates/spool-workflow/Cargo.toml
  spool-rs/crates/spool-workflow/src/changes/mod.rs
  spool-rs/crates/spool-workflow/src/changes/repository.rs
  spool-rs/crates/spool-workflow/src/lib.rs
  spool-rs/crates/spool-workflow/src/modules/mod.rs
  spool-rs/crates/spool-workflow/src/modules/repository.rs
  spool-rs/crates/spool-workflow/src/planning.rs
  spool-rs/crates/spool-workflow/src/state.rs
  spool-rs/crates/spool-workflow/src/tasks/compute.rs
  spool-rs/crates/spool-workflow/src/tasks/cycle.rs
  spool-rs/crates/spool-workflow/src/tasks/mod.rs
  spool-rs/crates/spool-workflow/src/tasks/parse.rs
  spool-rs/crates/spool-workflow/src/tasks/repository.rs
  spool-rs/crates/spool-workflow/src/tasks/update.rs
  spool-rs/crates/spool-workflow/src/workflow.rs
  spool-rs/crates/spool-workflow/tests/planning.rs
  spool-rs/crates/spool-workflow/tests/state.rs
  spool-rs/crates/spool-workflow/tests/tasks.rs
  spool-rs/crates/spool-workflow/tests/tasks_parsing.rs
  spool-rs/crates/spool-workflow/tests/workflow.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test

feat(spool-cli): migrate to use spool-domain repositories
  spool-rs/crates/spool-cli/Cargo.toml
  spool-rs/crates/spool-cli/src/app/archive.rs
  spool-rs/crates/spool-cli/src/app/common.rs
  spool-rs/crates/spool-cli/src/app/instructions.rs
  spool-rs/crates/spool-cli/src/app/list.rs
  spool-rs/crates/spool-cli/src/app/show.rs
  spool-rs/crates/spool-cli/src/app/status.rs
  spool-rs/crates/spool-cli/src/app/validate.rs
  spool-rs/crates/spool-cli/src/commands/plan.rs
  spool-rs/crates/spool-cli/src/commands/state.rs
  spool-rs/crates/spool-cli/src/commands/tasks.rs
  spool-rs/crates/spool-cli/src/commands/workflow.rs
  spool-rs/crates/spool-cli/src/diagnostics.rs
  spool-rs/crates/spool-cli/tests/cli_snapshots.rs
  spool-rs/crates/spool-cli/tests/snapshots/cli_snapshots__spool_domain_help.snap
  spool-rs/crates/spool-domain/Cargo.toml
  spool-rs/crates/spool-domain/src/changes/mod.rs
  spool-rs/crates/spool-domain/src/changes/repository.rs
  spool-rs/crates/spool-domain/src/lib.rs
  spool-rs/crates/spool-domain/src/modules/mod.rs
  spool-rs/crates/spool-domain/src/modules/repository.rs
  spool-rs/crates/spool-domain/src/planning.rs
  spool-rs/crates/spool-domain/src/state.rs
  spool-rs/crates/spool-domain/src/tasks/compute.rs
  spool-rs/crates/spool-domain/src/tasks/cycle.rs
  spool-rs/crates/spool-domain/src/tasks/mod.rs
  spool-rs/crates/spool-domain/src/tasks/parse.rs
  spool-rs/crates/spool-domain/src/tasks/repository.rs
  spool-rs/crates/spool-domain/src/tasks/update.rs
  spool-rs/crates/spool-domain/src/workflow.rs
  spool-rs/crates/spool-domain/tests/planning.rs
  spool-rs/crates/spool-domain/tests/state.rs
  spool-rs/crates/spool-domain/tests/tasks.rs
  spool-rs/crates/spool-domain/tests/tasks_parsing.rs
  spool-rs/crates/spool-domain/tests/workflow.rs
  spool-rs/crates/spool-schemas/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test

fix(.spool): add missing scenario to task-repository delta
  .spool/changes/archive/2026-02-02-005-11_task-repository-pattern/specs/task-repository/spec.md
Due: none

Update release workflow to remove push trigger
  .github/workflows/release-please.yml
Due: none

Revise Spool description in README.md
  README.md
Due: markdownlint-cli2

Fix image paths in README.md
  README.md
Due: markdownlint-cli2

Fix image paths in README.md to use correct logo filenames
  README.md
Due: markdownlint-cli2

feat(ci): gate release-please on CI and upload release assets
  .github/workflows/release-please.yml
  .github/workflows/release.yml
Due: none

chore: add make release target
  Makefile
Due: none

docs: add release process guide
  RELEASE.md
Due: markdownlint-cli2

ignore .env
  .gitignore
Due: none

refactor(cli): reorganize commands and remove deprecated handlers
  spool-rs/Cargo.lock
  spool-rs/Cargo.toml
  spool-rs/crates/spool-cli/src/app/instructions.rs
  spool-rs/crates/spool-cli/src/app/mod.rs
  spool-rs/crates/spool-cli/src/app/run.rs
  spool-rs/crates/spool-cli/src/app/templates.rs
  spool-rs/crates/spool-cli/src/cli.rs
  spool-rs/crates/spool-cli/src/commands/config.rs
  spool-rs/crates/spool-cli/src/commands/mod.rs
  spool-rs/crates/spool-cli/tests/cli_smoke.rs
  spool-rs/crates/spool-cli/tests/instructions_more.rs
  spool-rs/crates/spool-cli/tests/snapshots/cli_snapshots__spool_agent_help.snap
  spool-rs/crates/spool-cli/tests/snapshots/cli_snapshots__spool_create_help.snap
  spool-rs/crates/spool-cli/tests/snapshots/cli_snapshots__spool_domain_help.snap
  spool-rs/crates/spool-cli/tests/snapshots/cli_snapshots__spool_help.snap
  spool-rs/crates/spool-cli/tests/snapshots/cli_snapshots__spool_help_all.snap
  spool-rs/crates/spool-cli/tests/snapshots/cli_snapshots__spool_help_subcommand_all.snap
  spool-rs/crates/spool-cli/tests/snapshots/cli_snapshots__spool_init_help.snap
  spool-rs/crates/spool-cli/tests/snapshots/cli_snapshots__spool_list_help.snap
  spool-rs/crates/spool-cli/tests/snapshots/cli_snapshots__spool_ralph_help.snap
  spool-rs/crates/spool-cli/tests/snapshots/cli_snapshots__spool_tasks_help.snap
  spool-rs/crates/spool-cli/tests/snapshots/cli_snapshots__spool_validate_help.snap
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test

chore(archive): move completed changes to archive
  .spool/changes/archive/2026-02-02-000-04_ready-work-commands/.spool.yaml
  .spool/changes/archive/2026-02-02-000-04_ready-work-commands/proposal.md
  .spool/changes/archive/2026-02-02-000-04_ready-work-commands/specs/ready-work-filter/spec.md
  .spool/changes/archive/2026-02-02-000-04_ready-work-commands/tasks.md
  .spool/changes/archive/2026-02-02-005-12_change-module-repositories/.spool.yaml
  .spool/changes/archive/2026-02-02-005-12_change-module-repositories/design.md
  .spool/changes/archive/2026-02-02-005-12_change-module-repositories/proposal.md
  .spool/changes/archive/2026-02-02-005-12_change-module-repositories/specs/change-repository/spec.md
  .spool/changes/archive/2026-02-02-005-12_change-module-repositories/specs/module-repository/spec.md
  .spool/changes/archive/2026-02-02-005-12_change-module-repositories/tasks.md
  .spool/specs/change-repository/spec.md
  .spool/specs/module-repository/spec.md
Due: none

docs(001-09): update task status for archive detection improvement
  .spool/changes/001-09_improve-archive-completed-detection/tasks.md
Due: none
