Repository withakay/spool: changes, and which pre-commit hooks are due for each by the changed paths.
All: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test

markdownlint-cli2:
  name: markdownlint-cli2
  entry: markdownlint-cli2
  language: node
  additional_dependencies:
  - markdownlint-cli2@0.20.0
  args:
  - --config
  - .markdownlint-cli2.yaml

cargo-fmt:
  name: cargo fmt (spool-rs)
  entry: cargo
  language: system
  args:
  - fmt
  - --manifest-path
  - spool-rs/Cargo.toml
  - --all
  pass_filenames: false

cargo-clippy:
  name: cargo clippy (spool-rs)
  entry: cargo
  language: system
  args:
  - clippy
  - --manifest-path
  - spool-rs/Cargo.toml
  - --workspace
  - --all-targets
  - --
  - -D
  - warnings
  - -D
  - clippy::dbg_macro
  - -D
  - clippy::todo
  - -D
  - clippy::unimplemented
  pass_filenames: false

cargo-test-coverage:
  name: cargo test with coverage (spool-rs)
  entry: make
  language: system
  args:
  - test-coverage
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

cargo-test:
  name: cargo test (spool-rs)
  entry: make
  language: system
  args:
  - test
  pass_filenames: false
  stages:
  - pre-push

Ralph loop iteration 4
  .spool/changes/008-02_sqlite-validation-for-enhanced-tasks/tasks.md
Due: none

Ralph loop iteration 1
  .claude/skills/spool-tasks/SKILL.md
  .codex/skills/spool-tasks/SKILL.md
  .github/skills/spool-tasks/SKILL.md
  .opencode/skills/spool-tasks/SKILL.md
  spool-rs/Cargo.toml
  spool-rs/crates/spool-cli/src/commands/tasks.rs
  spool-rs/crates/spool-cli/tests/tasks_more.rs
  spool-rs/crates/spool-core/src/archive.rs
  spool-rs/crates/spool-core/src/workflow/mod.rs
  spool-rs/crates/spool-domain/src/tasks/compute.rs
  spool-rs/crates/spool-domain/src/tasks/mod.rs
  spool-rs/crates/spool-domain/src/tasks/parse.rs
  spool-rs/crates/spool-domain/src/tasks/update.rs
  spool-rs/crates/spool-domain/tests/tasks_parsing.rs
  spool-rs/crates/spool-domain/tests/tasks_update.rs
  spool-rs/crates/spool-templates/assets/skills/spool-tasks/SKILL.md
Due: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test

Ralph loop iteration 2
  README.md
Due: markdownlint-cli2

chore: derive change work status from task progress
  spool-rs/crates/spool-domain/src/changes/mod.rs
  spool-rs/crates/spool-domain/src/changes/repository.rs
  spool-rs/crates/spool-domain/src/tasks/parse.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test

version bump
  spool-rs/Cargo.toml
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test

Ralph loop iteration 1
  spool-rs/crates/spool-cli/tests/instructions_more.rs
  spool-rs/crates/spool-templates/assets/instructions/agent/apply.md.j2
  spool-rs/crates/spool-templates/assets/instructions/agent/artifact.md.j2
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test

refactor(spool-cli): render agent instructions via templates
  spool-rs/crates/spool-cli/src/app/instructions.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test

refactor(spool-templates): add agent instruction templates
  spool-rs/crates/spool-templates/assets/instructions/agent/apply.md.j2
  spool-rs/crates/spool-templates/assets/instructions/agent/artifact.md.j2
  spool-rs/crates/spool-templates/assets/instructions/agent/bootstrap.md.j2
Due: none

docs(research): add spool text sources audit
  .spool/research/spool-text-sources-audit.md
Due: none

chore(spool): archive 008-03 support in-progress status
  .spool/changes/archive/2026-02-04-008-03_support-in-progress-status/.spool.yaml
  .spool/changes/archive/2026-02-04-008-03_support-in-progress-status/design.md
  .spool/changes/archive/2026-02-04-008-03_support-in-progress-status/proposal.md
  .spool/changes/archive/2026-02-04-008-03_support-in-progress-status/specs/checkbox-in-progress/spec.md
  .spool/changes/archive/2026-02-04-008-03_support-in-progress-status/specs/cli-tasks/spec.md
  .spool/changes/archive/2026-02-04-008-03_support-in-progress-status/tasks.md
  .spool/modules/008_todo-task-system/module.md
  .spool/specs/checkbox-in-progress/spec.md
  .spool/specs/cli-tasks/spec.md
  .spool/workflows/.state/change-allocations.json
  spool-rs/Cargo.toml
  spool-rs/crates/spool-cli/tests/tasks_more.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test

Bump version from 0.21.2 to 0.22.0
  spool-rs/crates/spool-cli/Cargo.toml
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test

Update changelog for version 0.22.0
  spool-rs/crates/spool-cli/CHANGELOG.md
Due: markdownlint-cli2

Update spool-cli version to 0.22.0
  .release-please-manifest.json
Due: none

Update release-please.yml to remove push trigger
  .github/workflows/release-please.yml
Due: none

Upgrade checkout action and streamline release process
  .github/workflows/release-please.yml
Due: none

Add issues permission to release-please workflow
  .github/workflows/release-please.yml
Due: none

build: add conventional-pre-commit hook to enforce commit format
  .pre-commit-config.yaml
Due: none

docs: add conventional commit format guidance to user instructions
  .spool/user-guidance.md
Due: none

chore: release 0.22.3
  .release-please-manifest.json
  release-please-config.json
Due: none

Add push trigger for main branch in release workflow
  .github/workflows/release-please.yml
Due: none

feat(cli): add new proposal guide
  spool-rs/crates/spool-cli/src/app/instructions.rs
  spool-rs/crates/spool-cli/tests/instructions_more.rs
  spool-rs/crates/spool-templates/assets/instructions/agent/new-proposal.md.j2
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test

chore: update spool managed repo files
  .claude/commands/spool-apply.md
  .claude/commands/spool-proposal.md
  .claude/skills/spool-apply-change-proposal/SKILL.md
  .claude/skills/spool-write-change-proposal/SKILL.md
  .codex/prompts/spool-apply.md
  .codex/prompts/spool-proposal.md
  .codex/skills/spool-apply-change-proposal/SKILL.md
  .codex/skills/spool-write-change-proposal/SKILL.md
  .github/prompts/spool-apply.prompt.md
  .github/prompts/spool-proposal.prompt.md
  .github/skills/spool-apply-change-proposal/SKILL.md
  .github/skills/spool-write-change-proposal/SKILL.md
  .gitignore
  .opencode/commands/spool-apply.md
  .opencode/commands/spool-proposal.md
  .opencode/skills/spool-apply-change-proposal/SKILL.md
  .opencode/skills/spool-write-change-proposal/SKILL.md
  .spool/AGENTS.md
  Makefile
  spool-rs/Cargo.lock
  spool-rs/Cargo.toml
  spool-rs/crates/spool-cli/Cargo.toml
  spool-rs/crates/spool-core/Cargo.toml
  spool-rs/crates/spool-domain/Cargo.toml
  spool-rs/crates/spool-fs/Cargo.toml
  spool-rs/crates/spool-harness/Cargo.toml
  spool-rs/crates/spool-logging/Cargo.toml
  spool-rs/crates/spool-schemas/Cargo.toml
  spool-rs/crates/spool-templates/Cargo.toml
  spool-rs/crates/spool-test-support/Cargo.toml
  spool-rs/crates/spool-web/Cargo.toml
  spool-rs/tools/sync_versions.py
Due: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test

Update release-please-config.json
  release-please-config.json
Due: none

fix: correct manifest path to match config (add trailing slash)
  .release-please-manifest.json
Due: none

chore: sync manifest to v0.22.3
  .release-please-manifest.json
Due: none

perf: add caching and speed optimizations to release workflow
  .github/workflows/release.yml
Due: none

fix: handle trailing slash in release-please manifest component lookup
  spool-rs/tools/sync_versions.py
Due: none

feat(list): show all task states and work status
  spool-rs/crates/spool-cli/src/app/list.rs
  spool-rs/crates/spool-core/src/list.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test

docs(testing): enhance testing policy with anti-mocking guidance and coverage targets
  spool-rs/crates/spool-templates/assets/default/project/.spool/AGENTS.md
  spool-rs/crates/spool-templates/assets/default/project/.spool/config.json
Due: markdownlint-cli2

chore: mark 001-11 task 3.1 as complete (human review approved)
  .spool/changes/001-11_tdd-red-green-coverage-guidance/tasks.md
Due: none

feat(init): add post-init guidance and prompts.md template
  spool-rs/crates/spool-cli/src/app/init.rs
  spool-rs/crates/spool-templates/assets/default/project/.spool/prompts.md
Due: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test

feat(init): add project-setup instruction and slash command
  spool-rs/crates/spool-cli/src/app/init.rs
  spool-rs/crates/spool-cli/src/app/instructions.rs
  spool-rs/crates/spool-cli/src/cli.rs
  spool-rs/crates/spool-cli/tests/snapshots/cli_snapshots__spool_agent_instruction_help.snap
  spool-rs/crates/spool-cli/tests/snapshots/cli_snapshots__spool_help_all.snap
  spool-rs/crates/spool-cli/tests/snapshots/cli_snapshots__spool_help_subcommand_all.snap
  spool-rs/crates/spool-templates/assets/default/project/.claude/commands/spool-project-setup.md
  spool-rs/crates/spool-templates/assets/default/project/.codex/commands/spool-project-setup.md
  spool-rs/crates/spool-templates/assets/default/project/.opencode/command/spool-project-setup.md
  spool-rs/crates/spool-templates/assets/default/project/.spool/prompts.md
  spool-rs/crates/spool-templates/assets/instructions/agent/project-setup.md.j2
Due: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test

docs(project-setup): interview user instead of guessing
  spool-rs/crates/spool-templates/assets/instructions/agent/project-setup.md.j2
Due: none

fix(release): correct release-please config for cargo workspace
  .release-please-manifest.json
  release-please-config.json
Due: none

feat(init): add agent template installation to spool init
  spool-rs/crates/spool-core/src/installers/mod.rs
  spool-rs/crates/spool-templates/src/agents.rs
  spool-rs/crates/spool-templates/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test

feat(init): add embedded agent template assets for all harnesses
  spool-rs/crates/spool-models/src/agent.rs
  spool-rs/crates/spool-models/src/compare.rs
  spool-rs/crates/spool-models/src/discovery.rs
  spool-rs/crates/spool-models/src/rollback.rs
  spool-rs/crates/spool-models/src/update.rs
  spool-rs/crates/spool-templates/assets/agents/claude-code/spool-general.md
  spool-rs/crates/spool-templates/assets/agents/claude-code/spool-quick.md
  spool-rs/crates/spool-templates/assets/agents/claude-code/spool-thinking.md
  spool-rs/crates/spool-templates/assets/agents/codex/spool-general/SKILL.md
  spool-rs/crates/spool-templates/assets/agents/codex/spool-quick/SKILL.md
  spool-rs/crates/spool-templates/assets/agents/codex/spool-thinking/SKILL.md
  spool-rs/crates/spool-templates/assets/agents/github-copilot/spool-general.md
  spool-rs/crates/spool-templates/assets/agents/github-copilot/spool-quick.md
  spool-rs/crates/spool-templates/assets/agents/github-copilot/spool-thinking.md
  spool-rs/crates/spool-templates/assets/agents/opencode/spool-general.md
  spool-rs/crates/spool-templates/assets/agents/opencode/spool-quick.md
  spool-rs/crates/spool-templates/assets/agents/opencode/spool-thinking.md
Due: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test

feat(models): add spool-models crate with models.dev integration
  spool-rs/Cargo.lock
  spool-rs/Cargo.toml
  spool-rs/crates/spool-models/Cargo.toml
  spool-rs/crates/spool-models/src/cache.rs
  spool-rs/crates/spool-models/src/client.rs
  spool-rs/crates/spool-models/src/discovery.rs
  spool-rs/crates/spool-models/src/lib.rs
  spool-rs/crates/spool-models/src/registry.rs
  spool-rs/crates/spool-models/src/types.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test

Path conditions:
  markdownlint-cli2: any of: \.md$, but not: ^\.spool/
  cargo-fmt: any of: ^spool-rs/.*\.(rs|toml)$
  cargo-clippy: any of: ^spool-rs/.*\.(rs|toml)$
  cargo-test-coverage: any of: ^spool-rs/.*\.(rs|toml)$
  cargo-test: any of: ^spool-rs/.*\.(rs|toml)$
