Repository withakay/spool: changes, and which pre-commit hooks are due for each by the changed paths.
All: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test

markdownlint-cli2:
  name: markdownlint-cli2
  entry: markdownlint-cli2
  language: node
  additional_dependencies:
  - markdownlint-cli2@0.20.0
  args:
  - --config
  - .markdownlint-cli2.yaml

cargo-fmt:
  name: cargo fmt (spool-rs)
  entry: cargo
  language: system
  args:
  - fmt
  - --manifest-path
  - spool-rs/Cargo.toml
  - --all
  pass_filenames: false

cargo-clippy:
  name: cargo clippy (spool-rs)
  entry: cargo
  language: system
  args:
  - clippy
  - --manifest-path
  - spool-rs/Cargo.toml
  - --workspace
  - --all-targets
  - --
  - -D
  - warnings
  - -D
  - clippy::dbg_macro
  - -D
  - clippy::todo
  - -D
  - clippy::unimplemented
  pass_filenames: false

cargo-test-coverage:
  name: cargo test with coverage (spool-rs)
  entry: make
  language: system
  args:
  - test-coverage
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

cargo-test:
  name: cargo test (spool-rs)
  entry: make
  language: system
  args:
  - test
  pass_filenames: false
  stages:
  - pre-push

feat(spool): add agent model manager change proposal
  .spool/changes/005-13_agent-model-manager/design.md
  .spool/changes/005-13_agent-model-manager/proposal.md
  .spool/changes/005-13_agent-model-manager/specs/config-defaults/spec.md
  .spool/changes/005-13_agent-model-manager/specs/config-schema/spec.md
  .spool/changes/005-13_agent-model-manager/specs/config/spec.md
  .spool/changes/005-13_agent-model-manager/tasks.md
Due: none

refactor(spool-core): restructure config module with schema and type definitions
  .spool/changes/005-13_agent-model-manager/tasks.md
  spool-rs/Cargo.lock
  spool-rs/Cargo.toml
  spool-rs/crates/spool-cli/src/cli.rs
  spool-rs/crates/spool-cli/src/commands/config.rs
  spool-rs/crates/spool-cli/tests/snapshots/cli_snapshots__spool_help_all.snap
  spool-rs/crates/spool-cli/tests/snapshots/cli_snapshots__spool_help_subcommand_all.snap
  spool-rs/crates/spool-core/Cargo.toml
  spool-rs/crates/spool-core/src/config/defaults.rs
  spool-rs/crates/spool-core/src/config/mod.rs
  spool-rs/crates/spool-core/src/config/schema.rs
  spool-rs/crates/spool-core/src/config/types.rs
  spool-rs/crates/spool-templates/assets/skills/brainstorming/SKILL.md
  spool-rs/crates/spool-templates/assets/skills/dispatching-parallel-agents/SKILL.md
  spool-rs/crates/spool-templates/assets/skills/requesting-code-review/SKILL.md
  spool-rs/crates/spool-templates/assets/skills/subagent-driven-development/SKILL.md
Due: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test

feat(spool-cli): add config command support
  spool-rs/crates/spool-cli/Cargo.toml
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test

docs(skills): update agent skills for improved guidance
  spool-rs/crates/spool-templates/Cargo.toml
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test

chore(cargo): update workspace dependencies
  spool-rs/crates/spool-domain/Cargo.toml
  spool-rs/crates/spool-fs/Cargo.toml
  spool-rs/crates/spool-harness/Cargo.toml
  spool-rs/crates/spool-logging/Cargo.toml
  spool-rs/crates/spool-models/Cargo.toml
  spool-rs/crates/spool-schemas/Cargo.toml
  spool-rs/crates/spool-test-support/Cargo.toml
  spool-rs/crates/spool-web/Cargo.toml
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test

chore: bump version
  .release-please-manifest.json
  .spool/changes/000-05_crate-architecture-refactor/.spool.yaml
  .spool/changes/000-05_crate-architecture-refactor/design.md
  .spool/changes/000-05_crate-architecture-refactor/proposal.md
  .spool/changes/000-05_crate-architecture-refactor/specs/filesystem-trait/spec.md
  .spool/changes/000-05_crate-architecture-refactor/specs/spool-common-crate/spec.md
  .spool/changes/000-05_crate-architecture-refactor/specs/spool-config-crate/spec.md
  .spool/changes/000-05_crate-architecture-refactor/specs/spool-core/spec.md
  .spool/changes/000-05_crate-architecture-refactor/specs/spool-domain/spec.md
  .spool/changes/000-05_crate-architecture-refactor/specs/spool-logging/spec.md
  .spool/changes/000-05_crate-architecture-refactor/tasks.md
  .spool/modules/000_ungrouped/module.md
  .spool/workflows/.state/change-allocations.json
  spool-rs/Cargo.lock
  spool-rs/Cargo.toml
  spool-rs/crates/spool-cli/Cargo.toml
  spool-rs/crates/spool-core/Cargo.toml
  spool-rs/crates/spool-domain/Cargo.toml
  spool-rs/crates/spool-fs/Cargo.toml
  spool-rs/crates/spool-harness/Cargo.toml
  spool-rs/crates/spool-logging/Cargo.toml
  spool-rs/crates/spool-models/Cargo.toml
  spool-rs/crates/spool-schemas/Cargo.toml
  spool-rs/crates/spool-templates/Cargo.toml
  spool-rs/crates/spool-test-support/Cargo.toml
  spool-rs/crates/spool-web/Cargo.toml
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test

chore: expand claude permissions for git operations
  .claude/settings.local.json
Due: none

Path conditions:
  markdownlint-cli2: any of: \.md$, but not: ^\.spool/
  cargo-fmt: any of: ^spool-rs/.*\.(rs|toml)$
  cargo-clippy: any of: ^spool-rs/.*\.(rs|toml)$
  cargo-test-coverage: any of: ^spool-rs/.*\.(rs|toml)$
  cargo-test: any of: ^spool-rs/.*\.(rs|toml)$
