Repository withakay/spool: changes, and which pre-commit hooks are due for each by the changed paths.
All: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test

markdownlint-cli2:
  name: markdownlint-cli2
  entry: markdownlint-cli2
  language: node
  additional_dependencies:
  - markdownlint-cli2@0.20.0
  args:
  - --config
  - .markdownlint-cli2.yaml

cargo-fmt:
  name: cargo fmt (spool-rs)
  entry: cargo
  language: system
  args:
  - fmt
  - --manifest-path
  - spool-rs/Cargo.toml
  - --all
  pass_filenames: false

cargo-clippy:
  name: cargo clippy (spool-rs)
  entry: cargo
  language: system
  args:
  - clippy
  - --manifest-path
  - spool-rs/Cargo.toml
  - --workspace
  - --all-targets
  - --
  - -D
  - warnings
  - -D
  - clippy::dbg_macro
  - -D
  - clippy::todo
  - -D
  - clippy::unimplemented
  pass_filenames: false

cargo-test-coverage:
  name: cargo test with coverage (spool-rs)
  entry: make
  language: system
  args:
  - test-coverage
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

cargo-test:
  name: cargo test (spool-rs)
  entry: make
  language: system
  args:
  - test
  pass_filenames: false
  stages:
  - pre-push

docs(modules): update module metadata with archived changes
  .spool/modules/000_ungrouped/module.md
  .spool/modules/005_dev-tooling/module.md
  spool-rs/crates/spool-cli/src/app/list.rs
  spool-rs/crates/spool-cli/src/cli.rs
  spool-rs/crates/spool-cli/tests/cli_smoke.rs
  spool-rs/crates/spool-cli/tests/snapshots/cli_snapshots__spool_help_all.snap
  spool-rs/crates/spool-cli/tests/snapshots/cli_snapshots__spool_help_subcommand_all.snap
  spool-rs/crates/spool-cli/tests/snapshots/cli_snapshots__spool_list_help.snap
  spool-rs/crates/spool-core/src/list.rs
  spool-rs/crates/spool-templates/assets/skills/spool-archive/SKILL.md
Due: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test

Ralph loop iteration 1
  README.md
  spool-rs/Cargo.lock
  spool-rs/Cargo.toml
  spool-rs/crates/spool-cli/src/app/run.rs
  spool-rs/crates/spool-cli/src/cli.rs
  spool-rs/crates/spool-cli/src/commands/mod.rs
  spool-rs/crates/spool-cli/src/commands/serve.rs
  spool-rs/crates/spool-cli/src/util.rs
  spool-rs/crates/spool-cli/tests/snapshots/cli_snapshots__spool_help.snap
  spool-rs/crates/spool-cli/tests/snapshots/cli_snapshots__spool_help_all.snap
  spool-rs/crates/spool-cli/tests/snapshots/cli_snapshots__spool_help_subcommand_all.snap
  spool-rs/crates/spool-core/Cargo.toml
  spool-rs/crates/spool-core/src/docs_server/mod.rs
  spool-rs/crates/spool-core/src/docs_server/site.rs
Due: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test

Ralph loop iteration 2
  .spool/changes/010-01_add-local-docs-server/design.md
  .spool/changes/010-01_add-local-docs-server/tasks.md
  README.md
Due: markdownlint-cli2

feat(spool-web): add modern file browser, editor, and terminal
  .claude/skills/spool-archive/SKILL.md
  .codex/skills/spool-archive/SKILL.md
  .github/skills/spool-archive/SKILL.md
  .opencode/skills/spool-archive/SKILL.md
  .spool/planning/STATE.md
  spool-rs/Cargo.lock
  spool-rs/Cargo.toml
  spool-rs/crates/spool-cli/Cargo.toml
  spool-rs/crates/spool-cli/src/cli.rs
  spool-rs/crates/spool-cli/src/commands/serve.rs
  spool-rs/crates/spool-core/src/docs_server/mod.rs
  spool-rs/crates/spool-core/src/docs_server/site.rs
  spool-rs/crates/spool-core/src/lib.rs
  spool-rs/crates/spool-web/Cargo.toml
  spool-rs/crates/spool-web/src/api.rs
  spool-rs/crates/spool-web/src/app.js
  spool-rs/crates/spool-web/src/auth.rs
  spool-rs/crates/spool-web/src/frontend.rs
  spool-rs/crates/spool-web/src/index.html
  spool-rs/crates/spool-web/src/lib.rs
  spool-rs/crates/spool-web/src/main.rs
  spool-rs/crates/spool-web/src/server.rs
  spool-rs/crates/spool-web/src/terminal.rs
Due: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test

chore: update version timestamps and README wording
  spool-rs/Cargo.lock
  spool-rs/Cargo.toml
  spool-rs/README.md
Due: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test

docs(001-14): add proposal for list progress filters
  .spool/changes/001-14_add-partial-and-pending-list-filters/.spool.yaml
  .spool/changes/001-14_add-partial-and-pending-list-filters/proposal.md
  .spool/changes/001-14_add-partial-and-pending-list-filters/specs/list-partial-filter/spec.md
  .spool/changes/001-14_add-partial-and-pending-list-filters/specs/list-pending-filter/spec.md
  .spool/changes/001-14_add-partial-and-pending-list-filters/tasks.md
  .spool/modules/001_workflow-enhancements/module.md
  .spool/workflows/.state/change-allocations.json
Due: none

feat(cli): add pending/partial filters to spool list
  spool-rs/crates/spool-cli/src/app/list.rs
  spool-rs/crates/spool-cli/src/cli.rs
  spool-rs/crates/spool-cli/tests/snapshots/cli_snapshots__spool_help_all.snap
  spool-rs/crates/spool-cli/tests/snapshots/cli_snapshots__spool_help_subcommand_all.snap
  spool-rs/crates/spool-cli/tests/snapshots/cli_snapshots__spool_list_help.snap
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test

docs(templates): document spool list progress filters
  spool-rs/crates/spool-templates/assets/default/project/.spool/AGENTS.md
  spool-rs/crates/spool-templates/assets/skills/spool-archive/SKILL.md
  spool-rs/crates/spool-templates/assets/skills/spool-workflow/SKILL.md
Due: markdownlint-cli2

test(cli): skip PTY tests on Windows
  spool-rs/crates/spool-cli/tests/init_more.rs
  spool-rs/crates/spool-cli/tests/misc_more.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test

chore: archive completed changes (001-09, 010-01)
  .spool/changes/001-09_improve-archive-completed-detection/.spool.yaml
  .spool/changes/001-09_improve-archive-completed-detection/design.md
  .spool/changes/001-09_improve-archive-completed-detection/proposal.md
  .spool/changes/001-09_improve-archive-completed-detection/specs/completed-status-display/spec.md
  .spool/changes/001-09_improve-archive-completed-detection/specs/interactive-archive-selection/spec.md
  .spool/changes/001-09_improve-archive-completed-detection/tasks.md
  .spool/changes/010-01_add-local-docs-server/.spool.yaml
  .spool/changes/010-01_add-local-docs-server/design.md
  .spool/changes/010-01_add-local-docs-server/proposal.md
  .spool/changes/010-01_add-local-docs-server/specs/cli-serve/spec.md
  .spool/changes/010-01_add-local-docs-server/tasks.md
Due: none

chore: mark 010-01 (docs-server) as completed
  .spool/modules/010_docs-server/module.md
Due: none

chore(005-09): update homebrew release task status
  .spool/changes/005-09_homebrew-release/tasks.md
Due: none

commit changes
  .spool/changes/archive/2026-02-03-001-09_improve-archive-completed-detection/.spool.yaml
  .spool/changes/archive/2026-02-03-001-09_improve-archive-completed-detection/design.md
  .spool/changes/archive/2026-02-03-001-09_improve-archive-completed-detection/proposal.md
  .spool/changes/archive/2026-02-03-001-09_improve-archive-completed-detection/specs/completed-status-display/spec.md
  .spool/changes/archive/2026-02-03-001-09_improve-archive-completed-detection/specs/interactive-archive-selection/spec.md
  .spool/changes/archive/2026-02-03-001-09_improve-archive-completed-detection/tasks.md
  .spool/changes/archive/2026-02-03-010-01_add-local-docs-server/.spool.yaml
  .spool/changes/archive/2026-02-03-010-01_add-local-docs-server/design.md
  .spool/changes/archive/2026-02-03-010-01_add-local-docs-server/proposal.md
  .spool/changes/archive/2026-02-03-010-01_add-local-docs-server/specs/cli-serve/spec.md
  .spool/changes/archive/2026-02-03-010-01_add-local-docs-server/tasks.md
Due: none

commit changes
  spool-rs/Cargo.lock
  spool-rs/Cargo.toml
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test

ci: disable Windows job
  .github/workflows/ci.yml
Due: none

ci: simplify release-please trigger and add PR detection polling
  .github/workflows/release-please.yml
  Makefile
Due: none

version bump
  spool-rs/Cargo.lock
  spool-rs/Cargo.toml
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test

update release-please config
  release-please-config.json
  spool-rs/Cargo.toml
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test

update cargo config for releases
  .pre-commit-config.yaml
  spool-rs/Cargo.toml
  spool-rs/crates/spool-cli/Cargo.toml
  spool-rs/crates/spool-core/Cargo.toml
  spool-rs/crates/spool-domain/Cargo.toml
  spool-rs/crates/spool-fs/Cargo.toml
  spool-rs/crates/spool-harness/Cargo.toml
  spool-rs/crates/spool-logging/Cargo.toml
  spool-rs/crates/spool-schemas/Cargo.toml
  spool-rs/crates/spool-templates/Cargo.toml
  spool-rs/crates/spool-test-support/Cargo.toml
  spool-rs/crates/spool-web/Cargo.toml
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test

release tweakin
  .release-please-manifest.json
  release-please-config.json
Due: none

release tweakin
  .github/workflows/release-please.yml
  release-please-config.json
Due: none

release tweakin
  .github/workflows/release-please.yml
  release-please-config.json
  spool-rs/crates/spool-cli/CHANGELOG.md
Due: markdownlint-cli2

fix: remove invalid changelog symlink
  spool-rs/crates/spool-cli/CHANGELOG.md
Due: markdownlint-cli2

feat: change log
  release-please-config.json
  spool-rs/Cargo.lock
Due: none

feat: change log
  .release-please-manifest.json
  release-please-config.json
Due: none

Update .release-please-manifest.json
  .release-please-manifest.json
Due: none

Bump version to 0.21.0 in Cargo.toml
  spool-rs/crates/spool-cli/Cargo.toml
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test

Update version in CHANGELOG to 0.21.0
  spool-rs/crates/spool-cli/CHANGELOG.md
Due: markdownlint-cli2

release tweaks
  .github/workflows/release-please.yml
  release-please-config.json
Due: none

update homebrew workflow
  .github/workflows/update-homebrew.yml
Due: none

update homebrew workflow
  .github/workflows/release.yml
  .github/workflows/update-homebrew.yml
  .release-please-manifest.json
  release-please-config.json
Due: none

update homebrew workflow
  .github/workflows/update-homebrew.yml
  spool-rs/Cargo.lock
Due: none

Ralph loop iteration 1
  .github/workflows/release.yml
  .github/workflows/update-homebrew.yml
  .spool/changes/archive/2026-02-03-005-06_add-session-json-to-gitignore/.spool.yaml
  .spool/changes/archive/2026-02-03-005-06_add-session-json-to-gitignore/design.md
  .spool/changes/archive/2026-02-03-005-06_add-session-json-to-gitignore/proposal.md
  .spool/changes/archive/2026-02-03-005-06_add-session-json-to-gitignore/specs/cli-init/spec.md
  .spool/changes/archive/2026-02-03-005-06_add-session-json-to-gitignore/tasks.md
  .spool/modules/005_dev-tooling/module.md
  docs/install.md
Due: markdownlint-cli2

chore: archive completed spool changes (001-13, 005-04, 005-08, 013-14, 013-18)
  .spool/changes/archive/2026-02-03-001-13_integrate-release-please-via-github-actions/.spool.yaml
  .spool/changes/archive/2026-02-03-001-13_integrate-release-please-via-github-actions/design.md
  .spool/changes/archive/2026-02-03-001-13_integrate-release-please-via-github-actions/proposal.md
  .spool/changes/archive/2026-02-03-001-13_integrate-release-please-via-github-actions/specs/release-please-releases/spec.md
  .spool/changes/archive/2026-02-03-001-13_integrate-release-please-via-github-actions/tasks.md
  .spool/changes/archive/2026-02-03-005-04_npm-binary-packages/.spool.yaml
  .spool/changes/archive/2026-02-03-005-04_npm-binary-packages/design.md
  .spool/changes/archive/2026-02-03-005-04_npm-binary-packages/proposal.md
  .spool/changes/archive/2026-02-03-005-04_npm-binary-packages/specs/npm-binary-distribution/spec.md
  .spool/changes/archive/2026-02-03-005-04_npm-binary-packages/tasks.md
  .spool/changes/archive/2026-02-03-005-08_migrate-cli-to-clap/.spool.yaml
  .spool/changes/archive/2026-02-03-005-08_migrate-cli-to-clap/design.md
  .spool/changes/archive/2026-02-03-005-08_migrate-cli-to-clap/proposal.md
  .spool/changes/archive/2026-02-03-005-08_migrate-cli-to-clap/specs/cli-core/spec.md
  .spool/changes/archive/2026-02-03-005-08_migrate-cli-to-clap/specs/cli-shell-completions/spec.md
  .spool/changes/archive/2026-02-03-005-08_migrate-cli-to-clap/tasks.md
  .spool/changes/archive/2026-02-03-013-14_rename-spool-workflow-skills/.spool.yaml
  .spool/changes/archive/2026-02-03-013-14_rename-spool-workflow-skills/design.md
  .spool/changes/archive/2026-02-03-013-14_rename-spool-workflow-skills/proposal.md
  .spool/changes/archive/2026-02-03-013-14_rename-spool-workflow-skills/specs/rename-workflow-skills/spec.md
  .spool/changes/archive/2026-02-03-013-14_rename-spool-workflow-skills/tasks.md
  .spool/changes/archive/2026-02-03-013-18_cleanup-spool-skills-repo/.spool.yaml
  .spool/changes/archive/2026-02-03-013-18_cleanup-spool-skills-repo/design.md
  .spool/changes/archive/2026-02-03-013-18_cleanup-spool-skills-repo/proposal.md
  .spool/changes/archive/2026-02-03-013-18_cleanup-spool-skills-repo/specs/distribution/spec.md
  .spool/changes/archive/2026-02-03-013-18_cleanup-spool-skills-repo/tasks.md
Due: none

chore: mark completed tasks in module specs (001-13, 005-04, 005-08, 013-18)
  .spool/modules/001_workflow-enhancements/module.md
  .spool/modules/005_dev-tooling/module.md
  .spool/modules/013_spool-skills-adoption/module.md
Due: none

ci: harden homebrew updater asset hashing
  .github/workflows/update-homebrew.yml
Due: none

ci: fix gh release upload repo selection
  .github/workflows/release.yml
Due: none

Ralph loop iteration 2
  .github/workflows/update-homebrew.yml
  .spool/changes/005-09_homebrew-release/tasks.md
  RELEASE.md
Due: markdownlint-cli2

ci: fix homebrew updater formula generation
  .github/workflows/update-homebrew.yml
Due: none

Ralph loop iteration 3
  .spool/changes/008-02_sqlite-validation-for-enhanced-tasks/tasks.md
  schemas/spec-driven/templates/tasks.md
  spool-rs/crates/spool-cli/src/app/validate.rs
  spool-rs/crates/spool-cli/src/commands/tasks.rs
  spool-rs/crates/spool-cli/src/diagnostics.rs
  spool-rs/crates/spool-core/src/validate/mod.rs
  spool-rs/crates/spool-core/src/validate/repo_integrity.rs
  spool-rs/crates/spool-core/tests/repo_integrity.rs
  spool-rs/crates/spool-domain/src/tasks/mod.rs
  spool-rs/crates/spool-domain/src/tasks/parse.rs
  spool-rs/crates/spool-domain/src/tasks/relational.rs
Due: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test

Path conditions:
  markdownlint-cli2: any of: \.md$, but not: ^\.spool/
  cargo-fmt: any of: ^spool-rs/.*\.(rs|toml)$
  cargo-clippy: any of: ^spool-rs/.*\.(rs|toml)$
  cargo-test-coverage: any of: ^spool-rs/.*\.(rs|toml)$
  cargo-test: any of: ^spool-rs/.*\.(rs|toml)$
