Repository withakay/spool: changes, and which pre-commit hooks are due for each by the changed paths.
All: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test

markdownlint-cli2:
  name: markdownlint-cli2
  entry: markdownlint-cli2
  language: node
  additional_dependencies:
  - markdownlint-cli2@0.20.0
  args:
  - --config
  - .markdownlint-cli2.yaml

cargo-fmt:
  name: cargo fmt (spool-rs)
  entry: cargo
  language: system
  args:
  - fmt
  - --manifest-path
  - spool-rs/Cargo.toml
  - --all
  pass_filenames: false

cargo-clippy:
  name: cargo clippy (spool-rs)
  entry: cargo
  language: system
  args:
  - clippy
  - --manifest-path
  - spool-rs/Cargo.toml
  - --workspace
  - --all-targets
  - --
  - -D
  - warnings
  - -D
  - clippy::dbg_macro
  - -D
  - clippy::todo
  - -D
  - clippy::unimplemented
  pass_filenames: false

cargo-test-coverage:
  name: cargo test with coverage (spool-rs)
  entry: make
  language: system
  args:
  - test-coverage
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

cargo-test:
  name: cargo test (spool-rs)
  entry: make
  language: system
  args:
  - test
  pass_filenames: false
  stages:
  - pre-push

build(cargo): update dependencies and distribution logic for skill harnesses
  spool-rs/Cargo.lock
  spool-rs/Cargo.toml
  spool-rs/crates/spool-core/src/distribution.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test

chore(config): update build configuration and project documentation
  AGENTS.md
  CLAUDE.md
  Makefile
Due: markdownlint-cli2

chore(spool): update workflow state and module configuration
  .spool/workflows/.state/change-allocations.json
Due: none

feat(spool-skills): update skill implementations and documentation
  spool-skills/skills/brainstorming/SKILL.md
  spool-skills/skills/executing-plans/SKILL.md
  spool-skills/skills/finishing-a-development-branch/SKILL.md
  spool-skills/skills/requesting-code-review/SKILL.md
  spool-skills/skills/subagent-driven-development/SKILL.md
  spool-skills/skills/subagent-driven-development/code-quality-reviewer-prompt.md
  spool-skills/skills/systematic-debugging/SKILL.md
  spool-skills/skills/using-git-worktrees/SKILL.md
  spool-skills/skills/using-spool-skills/SKILL.md
  spool-skills/skills/writing-plans/SKILL.md
  spool-skills/skills/writing-skills/SKILL.md
  spool-skills/skills/writing-skills/testing-skills-with-subagents.md
Due: markdownlint-cli2

feat(spool): add change proposals for skill distribution refactoring
  .spool/changes/013-06_fix-skill-distribution-paths/.spool.yaml
  .spool/changes/013-06_fix-skill-distribution-paths/design.md
  .spool/changes/013-06_fix-skill-distribution-paths/proposal.md
  .spool/changes/013-06_fix-skill-distribution-paths/specs/flat-skill-distribution/spec.md
  .spool/changes/013-06_fix-skill-distribution-paths/specs/multi-harness-skill-support/spec.md
  .spool/changes/013-06_fix-skill-distribution-paths/tasks.md
  .spool/changes/013-12_integrate-plan-skills-with-spool-workflow/.spool.yaml
  .spool/changes/013-12_integrate-plan-skills-with-spool-workflow/design.md
  .spool/changes/013-12_integrate-plan-skills-with-spool-workflow/proposal.md
  .spool/changes/013-12_integrate-plan-skills-with-spool-workflow/specs/spool-aware-plan-skills/spec.md
  .spool/changes/013-12_integrate-plan-skills-with-spool-workflow/tasks.md
  .spool/changes/013-13_merge-writing-plans-into-spool-proposal/.spool.yaml
  .spool/changes/013-13_merge-writing-plans-into-spool-proposal/design.md
  .spool/changes/013-13_merge-writing-plans-into-spool-proposal/proposal.md
  .spool/changes/013-13_merge-writing-plans-into-spool-proposal/specs/merge-writing-plans/spec.md
  .spool/changes/013-13_merge-writing-plans-into-spool-proposal/tasks.md
  .spool/changes/013-14_rename-spool-workflow-skills/.spool.yaml
  .spool/changes/013-14_rename-spool-workflow-skills/design.md
  .spool/changes/013-14_rename-spool-workflow-skills/proposal.md
  .spool/changes/013-14_rename-spool-workflow-skills/specs/rename-workflow-skills/spec.md
  .spool/changes/013-14_rename-spool-workflow-skills/tasks.md
  .spool/changes/013-15_update-subagent-driven-development/.spool.yaml
  .spool/changes/013-15_update-subagent-driven-development/design.md
  .spool/changes/013-15_update-subagent-driven-development/proposal.md
  .spool/changes/013-15_update-subagent-driven-development/specs/update-subagent-skill/spec.md
  .spool/changes/013-15_update-subagent-driven-development/tasks.md
  .spool/changes/013-16_fix-using-spool-skills-naming/.spool.yaml
  .spool/changes/013-16_fix-using-spool-skills-naming/design.md
  .spool/changes/013-16_fix-using-spool-skills-naming/proposal.md
  .spool/changes/013-16_fix-using-spool-skills-naming/specs/fix-naming/spec.md
  .spool/changes/013-16_fix-using-spool-skills-naming/tasks.md
  .spool/changes/013-17_update-finishing-branch-skill/.spool.yaml
  .spool/changes/013-17_update-finishing-branch-skill/design.md
  .spool/changes/013-17_update-finishing-branch-skill/proposal.md
  .spool/changes/013-17_update-finishing-branch-skill/specs/update-finishing-skill/spec.md
  .spool/changes/013-17_update-finishing-branch-skill/tasks.md
  .spool/changes/archive/2026-01-31-001-09_improve-archive-completed-detection/proposal.md
  .spool/changes/archive/2026-01-31-001-10_comprehensive-cli-help-system/design.md
  .spool/changes/archive/2026-01-31-001-10_comprehensive-cli-help-system/tasks.md
Due: none

style(spool-rs): apply cargo fmt formatting
  spool-rs/crates/spool-cli/src/main.rs
  spool-rs/crates/spool-core/src/installers/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test

test(ralph): ignore flaky git-changes test in pre-commit
  spool-rs/crates/spool-core/tests/ralph.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test

chore: sync skill updates across harness adapters
  .claude/skills/spool-finishing-a-development-branch/SKILL.md
  .claude/skills/spool-using-git-worktrees/SKILL.md
  .codex/skills/spool-finishing-a-development-branch/SKILL.md
  .codex/skills/spool-using-git-worktrees/SKILL.md
  .opencode/skills/spool-finishing-a-development-branch/SKILL.md
  .opencode/skills/spool-using-git-worktrees/SKILL.md
Due: markdownlint-cli2

refactor: apply rust-style simplifications to high-coverage crates
  spool-rs/crates/spool-fs/src/lib.rs
  spool-rs/crates/spool-logging/src/lib.rs
  spool-rs/crates/spool-test-support/src/lib.rs
  spool-rs/crates/spool-test-support/src/pty/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test

chore: update dependencies and list.rs
  spool-rs/Cargo.lock
  spool-rs/Cargo.toml
  spool-rs/crates/spool-core/src/list.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test

refactor: update command references from spool-proposal to spool-write-change-proposal
  .claude/commands/spool/apply.md
  .claude/commands/spool/proposal.md
  .claude/skills/spool-archive/SKILL.md
  .codex/prompts/spool-apply.md
  .codex/prompts/spool-proposal.md
  .github/prompts/spool-apply.prompt.md
  .github/prompts/spool-proposal.prompt.md
  .opencode/commands/spool-apply.md
  .opencode/commands/spool-proposal.md
  .spool/modules/013_spool-skills-adoption/module.md
  spool-rs/crates/spool-templates/assets/default/project/.claude/commands/spool/apply.md
  spool-rs/crates/spool-templates/assets/default/project/.claude/commands/spool/proposal.md
  spool-rs/crates/spool-templates/assets/default/project/.claude/skills/spool-archive/SKILL.md
  spool-rs/crates/spool-templates/assets/default/project/.codex/prompts/spool-apply.md
  spool-rs/crates/spool-templates/assets/default/project/.codex/prompts/spool-proposal.md
  spool-rs/crates/spool-templates/assets/default/project/.github/prompts/spool-apply.prompt.md
  spool-rs/crates/spool-templates/assets/default/project/.github/prompts/spool-proposal.prompt.md
  spool-rs/crates/spool-templates/assets/default/project/.opencode/commands/spool-apply.md
  spool-rs/crates/spool-templates/assets/default/project/.opencode/commands/spool-proposal.md
Due: markdownlint-cli2

feat: add spool-write-change-proposal and spool-apply-change-proposal skills
  .claude/agents/code-simplifier.md
  .claude/skills/spool-apply-change-proposal/SKILL.md
  .claude/skills/spool-write-change-proposal/SKILL.md
  .codex/skills/spool-apply-change-proposal/SKILL.md
  .codex/skills/spool-write-change-proposal/SKILL.md
  .github/skills/spool-apply-change-proposal/SKILL.md
  .github/skills/spool-write-change-proposal/SKILL.md
  .opencode/agents/code-simplifier.md
  spool-rs/crates/spool-templates/assets/default/project/.claude/skills/spool-apply-change-proposal/SKILL.md
  spool-rs/crates/spool-templates/assets/default/project/.claude/skills/spool-write-change-proposal/SKILL.md
  spool-rs/crates/spool-templates/assets/default/project/.codex/skills/spool-apply-change-proposal/SKILL.md
  spool-rs/crates/spool-templates/assets/default/project/.codex/skills/spool-write-change-proposal/SKILL.md
  spool-rs/crates/spool-templates/assets/default/project/.github/skills/spool-apply-change-proposal/SKILL.md
  spool-rs/crates/spool-templates/assets/default/project/.github/skills/spool-write-change-proposal/SKILL.md
Due: markdownlint-cli2

chore: remove old spool-proposal/spool-apply skills and research commands
  .claude/skills/spool-apply/SKILL.md
  .claude/skills/spool-proposal/SKILL.md
  .codex/skills/spool-apply/SKILL.md
  .codex/skills/spool-proposal/SKILL.md
  .github/skills/spool-apply/SKILL.md
  .github/skills/spool-proposal/SKILL.md
  .spool/commands/research-architecture.md
  .spool/commands/research-features.md
  .spool/commands/research-pitfalls.md
  .spool/commands/research-stack.md
  .spool/commands/research-synthesize.md
  .spool/commands/review-edge.md
  .spool/commands/review-scale.md
  .spool/commands/review-security.md
  spool-rs/crates/spool-templates/assets/default/project/.claude/skills/spool-apply/SKILL.md
  spool-rs/crates/spool-templates/assets/default/project/.claude/skills/spool-proposal/SKILL.md
  spool-rs/crates/spool-templates/assets/default/project/.codex/skills/spool-apply/SKILL.md
  spool-rs/crates/spool-templates/assets/default/project/.codex/skills/spool-proposal/SKILL.md
  spool-rs/crates/spool-templates/assets/default/project/.github/skills/spool-apply/SKILL.md
  spool-rs/crates/spool-templates/assets/default/project/.github/skills/spool-proposal/SKILL.md
Due: markdownlint-cli2

feat(spool): add new change proposals for upcoming initiatives
  .spool/changes/001-11_tdd-red-green-coverage-guidance/.spool.yaml
  .spool/changes/001-11_tdd-red-green-coverage-guidance/design.md
  .spool/changes/001-11_tdd-red-green-coverage-guidance/proposal.md
  .spool/changes/001-11_tdd-red-green-coverage-guidance/specs/agent-workflow-docs/spec.md
  .spool/changes/001-11_tdd-red-green-coverage-guidance/specs/cli-agent-config/spec.md
  .spool/changes/001-11_tdd-red-green-coverage-guidance/specs/docs-agent-instructions/spec.md
  .spool/changes/001-11_tdd-red-green-coverage-guidance/specs/stable-instruction-generation/spec.md
  .spool/changes/001-11_tdd-red-green-coverage-guidance/tasks.md
  .spool/changes/001-12_project-setup-wizard/.spool.yaml
  .spool/changes/001-12_project-setup-wizard/design.md
  .spool/changes/001-12_project-setup-wizard/proposal.md
  .spool/changes/001-12_project-setup-wizard/specs/agent-instructions/spec.md
  .spool/changes/001-12_project-setup-wizard/specs/cli-init/spec.md
  .spool/changes/001-12_project-setup-wizard/specs/docs-agent-instructions/spec.md
  .spool/changes/001-12_project-setup-wizard/specs/project-setup/spec.md
  .spool/changes/001-12_project-setup-wizard/specs/tool-adapters/spec.md
  .spool/changes/001-12_project-setup-wizard/tasks.md
  .spool/changes/005-07_split-spool-cli-app-rs/.spool.yaml
  .spool/changes/005-07_split-spool-cli-app-rs/design.md
  .spool/changes/005-07_split-spool-cli-app-rs/proposal.md
  .spool/changes/005-07_split-spool-cli-app-rs/specs/repo-precommit-quality-gates/spec.md
  .spool/changes/005-07_split-spool-cli-app-rs/tasks.md
  .spool/changes/005-08_migrate-cli-to-clap/.spool.yaml
  .spool/changes/005-08_migrate-cli-to-clap/design.md
  .spool/changes/005-08_migrate-cli-to-clap/proposal.md
  .spool/changes/005-08_migrate-cli-to-clap/specs/cli-core/spec.md
  .spool/changes/005-08_migrate-cli-to-clap/specs/cli-shell-completions/spec.md
  .spool/changes/005-08_migrate-cli-to-clap/tasks.md
  .spool/changes/008-03_support-in-progress-status/.spool.yaml
  .spool/changes/008-03_support-in-progress-status/design.md
  .spool/changes/008-03_support-in-progress-status/proposal.md
  .spool/changes/008-03_support-in-progress-status/specs/checkbox-in-progress/spec.md
  .spool/changes/008-03_support-in-progress-status/specs/cli-tasks/spec.md
  .spool/changes/008-03_support-in-progress-status/tasks.md
  .spool/changes/013-18_cleanup-spool-skills-repo/specs/distribution/spec.md
Due: none

refactor(spool-cli): split monolithic main.rs into modular app and commands structure
  spool-rs/crates/spool-cli/src/app/archive.rs
  spool-rs/crates/spool-cli/src/app/common.rs
  spool-rs/crates/spool-cli/src/app/entrypoint.rs
  spool-rs/crates/spool-cli/src/app/help.rs
  spool-rs/crates/spool-cli/src/app/init.rs
  spool-rs/crates/spool-cli/src/app/instructions.rs
  spool-rs/crates/spool-cli/src/app/list.rs
  spool-rs/crates/spool-cli/src/app/mod.rs
  spool-rs/crates/spool-cli/src/app/ralph.rs
  spool-rs/crates/spool-cli/src/app/run.rs
  spool-rs/crates/spool-cli/src/app/show.rs
  spool-rs/crates/spool-cli/src/app/status.rs
  spool-rs/crates/spool-cli/src/app/templates.rs
  spool-rs/crates/spool-cli/src/app/update.rs
  spool-rs/crates/spool-cli/src/app/validate.rs
  spool-rs/crates/spool-cli/src/commands/config.rs
  spool-rs/crates/spool-cli/src/commands/create.rs
  spool-rs/crates/spool-cli/src/commands/help.rs
  spool-rs/crates/spool-cli/src/commands/mod.rs
  spool-rs/crates/spool-cli/src/commands/plan.rs
  spool-rs/crates/spool-cli/src/commands/state.rs
  spool-rs/crates/spool-cli/src/commands/stats.rs
  spool-rs/crates/spool-cli/src/commands/tasks.rs
  spool-rs/crates/spool-cli/src/commands/workflow.rs
  spool-rs/crates/spool-cli/src/diagnostics.rs
  spool-rs/crates/spool-cli/src/main.rs
  spool-rs/crates/spool-cli/src/runtime.rs
  spool-rs/crates/spool-cli/src/util.rs
  spool-rs/crates/spool-cli/tests/archive_smoke.rs
  spool-rs/crates/spool-cli/tests/cli_smoke.rs
  spool-rs/crates/spool-cli/tests/init_gitignore_session_json.rs
  spool-rs/crates/spool-cli/tests/init_more.rs
  spool-rs/crates/spool-cli/tests/instructions_more.rs
  spool-rs/crates/spool-cli/tests/misc_more.rs
  spool-rs/crates/spool-cli/tests/ralph_smoke.rs
  spool-rs/crates/spool-cli/tests/source_file_size.rs
  spool-rs/crates/spool-cli/tests/support/mod.rs
  spool-rs/crates/spool-cli/tests/tasks_more.rs
  spool-rs/crates/spool-cli/tests/update_smoke.rs
  spool-rs/crates/spool-cli/tests/validate_more.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test

refactor(spool-workflow): split tasks module into compute, parse, cycle, and update submodules
  spool-rs/crates/spool-workflow/src/tasks/compute.rs
  spool-rs/crates/spool-workflow/src/tasks/cycle.rs
  spool-rs/crates/spool-workflow/src/tasks/mod.rs
  spool-rs/crates/spool-workflow/src/tasks/parse.rs
  spool-rs/crates/spool-workflow/src/tasks/update.rs
  spool-rs/crates/spool-workflow/tests/tasks_parsing.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test

feat(spool-core): add docs server, enhance distribution and installer modules
  spool-rs/crates/spool-core/Cargo.toml
  spool-rs/crates/spool-core/src/distribution.rs
  spool-rs/crates/spool-core/src/docs_server/mod.rs
  spool-rs/crates/spool-core/src/id/mod.rs
  spool-rs/crates/spool-core/src/installers/mod.rs
  spool-rs/crates/spool-core/src/lib.rs
  spool-rs/crates/spool-core/tests/distribution.rs
  spool-rs/crates/spool-core/tests/io.rs
  spool-rs/crates/spool-core/tests/repo_index.rs
  spool-rs/crates/spool-core/tests/show.rs
  spool-rs/crates/spool-core/tests/validate.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test

feat(spool-schemas): expand workflow schema definitions and add comprehensive tests
  spool-rs/crates/spool-schemas/src/workflow.rs
  spool-rs/crates/spool-schemas/src/workflow_plan.rs
  spool-rs/crates/spool-schemas/src/workflow_state.rs
  spool-rs/crates/spool-schemas/tests/validation.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test

feat(spool-harness): add comprehensive test suite for opencode and stub scenarios
  spool-rs/crates/spool-harness/Cargo.toml
  spool-rs/crates/spool-harness/tests/opencode.rs
  spool-rs/crates/spool-harness/tests/stub.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test

feat: add npm binary packages for cross-platform distribution
  npm/README.md
  npm/spool-darwin-arm64/bin/.gitkeep
  npm/spool-darwin-arm64/package.json
  npm/spool-darwin-x64/bin/.gitkeep
  npm/spool-darwin-x64/package.json
  npm/spool-linux-arm64/bin/.gitkeep
  npm/spool-linux-arm64/package.json
  npm/spool-linux-x64/bin/.gitkeep
  npm/spool-linux-x64/package.json
  npm/spool-win32-x64/bin/.gitkeep
  npm/spool-win32-x64/package.json
  npm/spool/README.md
  npm/spool/bin/spool.js
  npm/spool/package.json
  scripts/install.sh
Due: markdownlint-cli2

docs(research): consolidate research skills and add clap CLI investigation
  .spool/research/SUMMARY.md
  .spool/research/investigations/clap-cli-improvements.md
  spool-skills/skills/research/SKILL.md
  spool-skills/skills/research/research-architecture.md
  spool-skills/skills/research/research-features.md
  spool-skills/skills/research/research-pitfalls.md
  spool-skills/skills/research/research-stack.md
  spool-skills/skills/research/research-synthesize.md
  spool-skills/skills/research/review-edge.md
  spool-skills/skills/research/review-scale.md
  spool-skills/skills/research/review-security.md
Due: markdownlint-cli2

chore: add release workflow, yamllint config, and update build scripts
  .github/workflows/release.yml
  .yamllint
  Makefile
  README.md
  spool-rs/Cargo.lock
  spool-rs/Cargo.toml
  spool-rs/tools/check_max_lines.py
  spool-rs/tools/version_bump.py
Due: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test

chore(spool-templates): sync new skills to default project template
  spool-rs/crates/spool-templates/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test

chore(spool): update workflow state and change allocations
  .spool/changes/003-02_crate-code-quality-audit/tasks.md
  .spool/changes/005-04_npm-binary-packages/design.md
  .spool/changes/005-04_npm-binary-packages/tasks.md
  .spool/changes/005-06_add-session-json-to-gitignore/tasks.md
  .spool/changes/013-14_rename-spool-workflow-skills/tasks.md
  .spool/modules/001_workflow-enhancements/module.md
  .spool/modules/005_dev-tooling/module.md
  .spool/modules/008_todo-task-system/module.md
  .spool/project.md
  .spool/workflows/.state/change-allocations.json
Due: none

feat(spool): add repo-precommit-quality-gates spec for code quality audit
  .spool/changes/003-02_crate-code-quality-audit/specs/repo-precommit-quality-gates/spec.md
Due: none

chore(spool): mark 005-07 tasks complete
  .spool/changes/005-07_split-spool-cli-app-rs/tasks.md
Due: none

chore: remove claude spool commands - consolidate into skills
  .claude/commands/spool/apply.md
  .claude/commands/spool/archive.md
  .claude/commands/spool/proposal.md
  .claude/commands/spool/research.md
  .claude/commands/spool/review.md
  .claude/commands/spool/spool.md
Due: markdownlint-cli2

refactor(.claude): update spool skills with consolidated content
  .claude/skills/spool-apply-change-proposal/SKILL.md
  .claude/skills/spool-archive/SKILL.md
  .claude/skills/spool-commit/SKILL.md
  .claude/skills/spool-requesting-code-review/code-reviewer.md
  .claude/skills/spool-research/SKILL.md
  .claude/skills/spool-research/research-architecture.md
  .claude/skills/spool-research/research-features.md
  .claude/skills/spool-research/research-pitfalls.md
  .claude/skills/spool-research/research-stack.md
  .claude/skills/spool-research/research-synthesize.md
  .claude/skills/spool-research/review-edge.md
  .claude/skills/spool-research/review-scale.md
  .claude/skills/spool-research/review-security.md
  .claude/skills/spool-review/SKILL.md
  .claude/skills/spool-subagent-driven-development/code-quality-reviewer-prompt.md
  .claude/skills/spool-subagent-driven-development/implementer-prompt.md
  .claude/skills/spool-subagent-driven-development/spec-reviewer-prompt.md
  .claude/skills/spool-systematic-debugging/CREATION-LOG.md
  .claude/skills/spool-systematic-debugging/condition-based-waiting-example.ts
  .claude/skills/spool-systematic-debugging/condition-based-waiting.md
  .claude/skills/spool-systematic-debugging/defense-in-depth.md
  .claude/skills/spool-systematic-debugging/find-polluter.sh
  .claude/skills/spool-systematic-debugging/root-cause-tracing.md
  .claude/skills/spool-systematic-debugging/test-academic.md
  .claude/skills/spool-systematic-debugging/test-pressure-1.md
  .claude/skills/spool-systematic-debugging/test-pressure-2.md
  .claude/skills/spool-systematic-debugging/test-pressure-3.md
  .claude/skills/spool-tasks/SKILL.md
  .claude/skills/spool-test-driven-development/testing-anti-patterns.md
  .claude/skills/spool-workflow/SKILL.md
  .claude/skills/spool-write-change-proposal/SKILL.md
  .claude/skills/spool-writing-skills/anthropic-best-practices.md
  .claude/skills/spool-writing-skills/examples/CLAUDE_MD_TESTING.md
  .claude/skills/spool-writing-skills/graphviz-conventions.dot
  .claude/skills/spool-writing-skills/persuasion-principles.md
  .claude/skills/spool-writing-skills/render-graphs.js
  .claude/skills/spool-writing-skills/testing-skills-with-subagents.md
  .claude/skills/spool/SKILL.md
Due: markdownlint-cli2

refactor(.opencode): update spool commands and skills with consolidated content
  .opencode/commands/spool-apply.md
  .opencode/commands/spool-archive.md
  .opencode/commands/spool-proposal.md
  .opencode/commands/spool-research.md
  .opencode/commands/spool-review.md
  .opencode/commands/spool.md
  .opencode/ralph-history.json
  .opencode/skills/spool-apply-change-proposal/SKILL.md
  .opencode/skills/spool-archive/SKILL.md
  .opencode/skills/spool-commit/SKILL.md
  .opencode/skills/spool-research/SKILL.md
  .opencode/skills/spool-research/research-architecture.md
  .opencode/skills/spool-research/research-features.md
  .opencode/skills/spool-research/research-pitfalls.md
  .opencode/skills/spool-research/research-stack.md
  .opencode/skills/spool-research/research-synthesize.md
  .opencode/skills/spool-research/review-edge.md
  .opencode/skills/spool-research/review-scale.md
  .opencode/skills/spool-research/review-security.md
  .opencode/skills/spool-review/SKILL.md
  .opencode/skills/spool-subagent-driven-development/code-quality-reviewer-prompt.md
  .opencode/skills/spool-tasks/SKILL.md
  .opencode/skills/spool-workflow/SKILL.md
  .opencode/skills/spool-write-change-proposal/SKILL.md
  .opencode/skills/spool-writing-skills/testing-skills-with-subagents.md
  .opencode/skills/spool/SKILL.md
Due: markdownlint-cli2

refactor(spool-templates): update default project .claude adapter with consolidated skills
  spool-rs/crates/spool-templates/assets/default/project/.claude/commands/spool/apply.md
  spool-rs/crates/spool-templates/assets/default/project/.claude/commands/spool/archive.md
  spool-rs/crates/spool-templates/assets/default/project/.claude/commands/spool/proposal.md
  spool-rs/crates/spool-templates/assets/default/project/.claude/commands/spool/research.md
  spool-rs/crates/spool-templates/assets/default/project/.claude/commands/spool/review.md
  spool-rs/crates/spool-templates/assets/default/project/.claude/commands/spool/spool.md
  spool-rs/crates/spool-templates/assets/default/project/.claude/skills/spool-apply-change-proposal/SKILL.md
  spool-rs/crates/spool-templates/assets/default/project/.claude/skills/spool-archive/SKILL.md
  spool-rs/crates/spool-templates/assets/default/project/.claude/skills/spool-commit/SKILL.md
  spool-rs/crates/spool-templates/assets/default/project/.claude/skills/spool-research/SKILL.md
  spool-rs/crates/spool-templates/assets/default/project/.claude/skills/spool-review/SKILL.md
  spool-rs/crates/spool-templates/assets/default/project/.claude/skills/spool-tasks/SKILL.md
  spool-rs/crates/spool-templates/assets/default/project/.claude/skills/spool-workflow/SKILL.md
  spool-rs/crates/spool-templates/assets/default/project/.claude/skills/spool-write-change-proposal/SKILL.md
  spool-rs/crates/spool-templates/assets/default/project/.claude/skills/spool/SKILL.md
Due: markdownlint-cli2

refactor(spool-templates): update template generation with new asset structure
  spool-rs/crates/spool-templates/AGENTS.md
  spool-rs/crates/spool-templates/src/lib.rs
Due: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test

Path conditions:
  markdownlint-cli2: any of: \.md$, but not: ^\.spool/
  cargo-fmt: any of: ^spool-rs/.*\.(rs|toml)$
  cargo-clippy: any of: ^spool-rs/.*\.(rs|toml)$
  cargo-test-coverage: any of: ^spool-rs/.*\.(rs|toml)$
  cargo-test: any of: ^spool-rs/.*\.(rs|toml)$
